html,body{
  min-width: 1920px;
  /* width: 1920px; */
  background-image: url('Booking\ Management.jpg');
      background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
  min-height: 1080px;
  /* height: 9127px;
  max-height: 11551px; */
  background-repeat: no-repeat;
  background-position: center;
  padding: 0px;
  margin: 0px;
}

html>*{
  /* opacity: 0.5; */
}